# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/

# Editor directories and files
.vscode/
.idea/
*.swp

# Logs and temp files
*.log
*.tmp

# Git
.git
.gitignore

# System files
.DS_Store
Thumbs.db

# Build artifacts
*.egg-info/
dist/
build/
